* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    padding: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 1%;
}

h3 {
    text-align: center;
    width: 100px;
    border: 1px solid black;
    margin-left: auto;
}

#pink-h3 {
    background-color: pink;
}

#red-h3 {
    background-color: red;
}

#yellow-h3 {
    background-color: yellow;
}

div {
    background-color: gray;
    margin: 1%;
}

p {
    padding: 5px;
}

/* Desktop device */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 31%;
        border: 1px solid black;
        float: left;
    }
}

/* Tablet device */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
        border: 1px solid black;
    }

    .col-md-6 {
        width: 48%;
    }

    .col-md-12 {
        width: 99%;
    }
}

/* Mobile device */
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 99%;
        border: 1px solid black;
    }
}